/*PRODUCTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://use.typekit.net/oyn3puw.css");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}
/*MENU*/
.container {
  position: absolute;
}

.menu {
  float: right;
  width: 75%;
  margin: 0;
  margin-top: 2%;
}

.menu a {
  padding: 15px;
  /*position: absolute;*/
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-transition: all 300ms ease-in-out;
}

.productsBox {
  display: inline;
  z-index: 1;
  padding-bottom: 100%;
}

.productsMenu a {
  -webkit-transition: none;
}

.menu > a:hover,
.productsBox:hover .mainMenu {
  color: #8cc63f;
  text-shadow: 0 0 1px #567f21, 0 0 2px #567f21, 0 0 3px #567f21,
    0 0 4px #567f21, 0 0 5px #567f21, 0 0 8px #567f21, 0 0 12px #567f21,
    0 0 15px #567f21;
}

.productsMenu a:hover {
  color: #8cc63f;
}

.productsMenu {
  display: none;
  z-index: 2;
  width: 100vw;
  margin-left: -21.5vw;
  margin-top: 5vh;
  position: fixed;
  background-color: #333333;
}

.productsBox:hover .productsMenu {
  display: block;
  -webkit-animation: scale-up-top 0.1s ease-in-out both;
  animation: scale-up-top 0.1s ease-in-out both;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

.block {
  width: 20%;
  margin: 0;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 8vw;
  margin-right: -8vw;
  padding-left: 4vw;
  display: inline-block;
  vertical-align: top;
}

.block a {
  font-size: 2vh;
  font-family: "proximanova", sans-serif;
  text-transform: uppercase;
  line-height: 3vh;
  padding: 0;
  text-transform: none;
  display: block;
}

.block a.uppercase {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/*MENU*/

.imgcolumn {
  flex-direction: column;
  display: flex;
  position: absolute; /*!!!!!!!!!!!!!!!!--------------*/
  justify-content: center;
  text-align: center;
  align-items: center;
  left: 30vw;
  top: 18vh;
  gap: 1vh;
}

.centerlogo {
  width: 310px;
  height: 141px;
}

.centertext {
  color: white;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

.centerpar {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

.centerparultra {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
.can {
  height: 85vh;
  width: auto;
  position: absolute;
  left: 15vw;
  top: 21vh;
}

.canultra {
  height: 85vh;
  width: auto;
  position: absolute;
  left: 3vw;
  top: 21vh;
}

.textbut {
  flex-direction: column;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  gap: 3vh;
}

.btn {
  border-radius: 2px;
  background-color: #f40009;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;                                       /*Button settings. Hover used to change color*/
  text-decoration: none;
  color: white;
  height: 5vh;
  width: 25vw;
}
.btn:hover {
  background-color: #850004;
}

.monsterwar {
  visibility: hidden;
  width: 99.5vw;
  height: 40vh;
  position: absolute;
  right: -10vw;
  margin-top: 8vh;
  background-color: #333333;
}

.ultracans {
  height: 14vh;
  width: 8vw;
}

.ultrawrap {
  margin-top: 2vh;
  display: flex;
  justify-content: initial;
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, 0px);
}

.wartext {
  margin-left: -25vw;
  padding-left: 12vw;
  padding-right: 12vw;
  color: white;
  background-color: #333333;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
                                                           /* Arrows classes. Code taken from W3schools*/
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrowpositionright {
  top: 60vh;
  right: -3vw;
  position: absolute;
}

.arrowpositionleft {
  top: 60vh;
  left: 3vw;
  position: absolute;
}
