@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://use.typekit.net/oyn3puw.css");




* {
  box-sizing: border-box;
}
body {
  background-color: black;
}

.container {
  position: absolute;
}

.menu {
  float: right;
  width: 75%;
  margin: 0;
  margin-top: 2%;
}

.menu a {
  padding: 15px;
  /*position: absolute;*/
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-transition: all 300ms ease-in-out;
}

.productsBox {
  display: inline;
  z-index: 1;
  padding-bottom: 100%;
}

.productsMenu a {
  -webkit-transition: none;
}

.menu > a:hover,
.productsBox:hover .mainMenu {
  color: #8cc63f;
  text-shadow: 0 0 1px #567f21, 0 0 2px #567f21, 0 0 3px #567f21,
    0 0 4px #567f21, 0 0 5px #567f21, 0 0 8px #567f21, 0 0 12px #567f21,
    0 0 15px #567f21;
}

.productsMenu a:hover {
  color: #8cc63f;
}

.productsMenu {
  display: none;
  z-index: 2;
  width: 100vw;
  margin-left: -28.5vw;
  margin-top: 5vh;
  position: absolute; 
  background-color: #333333;
}

.productsBox:hover .productsMenu {
  display: block;
  -webkit-animation: scale-up-top 0.1s ease-in-out both;
  animation: scale-up-top 0.1s ease-in-out both;
}
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

.block {
  width: 20%;
  margin: 0;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 8vw;
  margin-right: -8vw;
  padding-left: 4vw;
  display: inline-block;
  vertical-align: top;
}

.block a {
  font-size: 2vh;
  font-family: "proximanova", sans-serif;
  text-transform: uppercase;
  line-height: 3vh;
  padding: 0;
  text-transform: none;
  display: block;
}

.block a.uppercase {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/*.cardiv{
  width: 100vw;
}
.cardiv > img{
  width: 99%;

}
.strip{
  margin-top: -20vh;
  width: 100%;
  height: 20vh;
border: 3px solid red;
}
*/

.box{
        position: relative;
        display: inline-block;
    }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 61.2vw;

        top: 81%; /* Adjusting this value to move the positioned div up and down */
        background: rgba(0, 0, 0, 0.8);
        font-family: "proximanova", sans-serif;
        font-size: 22px;
        color: #fff;
        width: 45%; /* Setting the width of the positioned div */

}


.box1{
        position: relative;
        display: inline-block;
    }
    .box1 .text2{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 77.8vw;

        top: 75%; /* Adjusting this value to move the positioned div up and down */
        background: rgba(0, 0, 0, 0.8);
        font-family: "proximanova", sans-serif;
        font-size: 22px;
        color: #fff;
        width: 30%; /* Setting the width of the positioned div */

}

.box2{
        position: relative;
        display: inline-block;
    }
    .box2 .text3{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 77.8vw;

        top: 81%; /* Adjusting this value to move the positioned div up and down */
        background: rgba(0, 0, 0, 0.8);
        font-family: "proximanova", sans-serif;
        font-size: 22px;
        color: #fff;
        width: 85%; /* Setting the width of the positioned div */

}

.box3{
        position: relative;
        display: inline-block;
    }
    .box3 .text4{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 77.8vw;

        top: 81%; /* Adjusting this value to move the positioned div up and down */
        background: rgba(0, 0, 0, 0.8);
        font-family: "proximanova", sans-serif;
        font-size: 22px;
        color: #fff;
        width: 45%; /* Setting the width of the positioned div */

}

        .btn{
          font-size: 20px;
          font-family: "Montserrat";
          border-radius: 2px;
          background-color: #8cc63f;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          text-decoration: none;
          color: white;
          height: 5vh;
          width: 12vw;
        }
        .btn:hover {
          background-color: green;
        }


.ptext{
  color: #8cc63f;
}
