@import url('https://fonts.googleapis.com/css2?family=Comme:wght@550&display=swap');

/* styles for the body */
body {
    background-image: url('./images/s2.jpg');
    background-position: 35%;
    background-size: auto;
background-repeat: no-repeat;
    font-family: 'Comme', sans-serif;
    letter-spacing: 0.12em;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
}

/*styles for the container div */
.container {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/*styles for the text paragraph */
.text {
    padding: 2rem;
}

.container p {
    color: #fff;
    background-color: #00000081;
    padding: 1.2rem;
    border-radius: 20px;
}

/*styles for the buttons */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}

button {
    padding: 0.8rem 2.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #0000002b;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 8px;
    transition: all 0.1s ease;
}

button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

/**/

/* Burger menu styles */
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

.btn-line {
    width: 100%;
    height: 2px;
    background-color: orange;
    margin: 3px 0;
    transition: all 0.2s ease;
}

.menu-btn.open .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.open .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation menu styles */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9998;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.menu.open {
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 100px 0 0 0;
    text-align: center;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}