@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    width: 50%;
    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /*margin 0*/
    display: flex;
    overflow: hidden;
    /*setting the value of flex so that the div element is stretched to cover the entire screen so that there are no scrollbars*/
}

.container {
    display: flex;
    /*flex allows to use align-items and justify-content*/
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/s1.jpg');
    background-size: cover;
    /*
    align-items: center;
    this option allows you to automatically adjust the dimensions of the background to the size of the div*/
    justify-content: space-between;
    /*space around elements (also summed between them)*/
    align-items: center;
    flex-direction: column;
    /*allows you to arrange items one above the other in a column*/
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #696d8ae4;
}

button {
    display: inline-block;
    padding: 0.8rem 2.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    background: transparent;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 8px;
    transition: all 0.1s ease;

}

button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 3em;
    margin-top: 2em;
}

.story {
    font-size: 1.5em;
    margin-top: 2em;
}

.options {
    margin-top: 2em;
}



.button {
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

/* media queries */
@media only screen and (max-width: 600px) {
    /* modify the styles for screens smaller than 600px */
    .container {
        flex-direction: column;
    }
    
    .button {
        height: 10%;
    }
    
    h1 {
        font-size: 2em;
    }
    
    .story {
        font-size: 1em;
    }
}
