
.class-for-index{
  background-color: red;

}



.bd{
  background-color: yellow;




}
.ah1col{
  color: green;
}
.ih1col{
  background-color: brown;
  padding: 50px;
  text-align: center;
}

img{
   width: 300px;
}
